*  {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.p-3 {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1,5px;
    width: 96%;
    border-top: 3px solid rgb(6, 192, 224);
}
#destacados {
    background-color: black;
    padding-top: 4rem;

}
#who, .card {
    background-color: black;
   }

#who {
    padding: 5rem;
}
.links {
        float: right;
        padding: 1rem;
}
#contact {
    background-color: black;
    padding-top: 3rem;
    text-align: center;
}